@import 'typography';

body {
    width: 100vh;
    padding: 10rem;
    background-color: wheat;
    display: flex;
}

.header{
    height: 200px;
    background-color: wheat;
    color:purple;
}

.container {
    color: red;
}